###############################################################################
# Please modify this file if you want to configure your own library.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_LIBS_NAME_LIBCURL
	comment "No additional options for LIBCURL"

# 	config LIBS_LIBCURL_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
